<h3><span>【<%= current_user.last_name %>さん】個人の仕事</span>に新しい仕事の予定を追加</h3>

<%= link_to "アポイントの予定を追加", new_appointment_path %>
<%= link_to "チームMTGの予定を追加", new_meeting_path %>
<%= link_to "その他の仕事の予定を追加", new_meeting_path %>