<div class="row">
  <div class="col-1 col-lg-1"></div>
  <div class="col-10 col-lg-10 my-5 p-5 border border-secondary text-secondary">

    “仕事共有”はチームでの仕事を円滑に進めるべく、各個人のToDoリストを共有できるアプリです。</br>
    主に営業職の方が使い易いような機能を中心に実装しています。</br>
    </br>
    試しに［<u><%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "text-secondary" %></u>］をして使用感を味わってみてください。</br>
    </br>
    使い勝手が良ければ［<u><%= link_to "新規登録", new_user_registration_path, class: "text-secondary" %></u>］から開始することができます。

  </div>
  <div class="col-1 col-lg-1"></div>
</div>